/* common style */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}

/* header area start */
.header{
    background-color: rgb(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* navigation area start */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text{
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

.logo-text:hover{
    color: #FF900E;
}

.menu{
    color: #424242;
    display: flex;
    gap: 50px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    transform: all 0.3s;
    cursor: pointer;
}

.menu-item:hover{
    color: #FF900E;
}
/* navigation area end */

/* banner area start */
.banner{
    text-align: center;
    margin-top: 50px;
}

.banner-text{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}

.banner-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
}

.btn-primary{
    background-color: #FF900E;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    margin-top: 20px;
    transition: all 0.3s;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: #fff;
    color: #FF900E;
}
/* header area end */