/* common style */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}

/* header area start */
.header{
    background-color: rgb(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* navigation area start */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text{
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

.logo-text:hover{
    color: #FF900E;
}

.menu{
    color: #424242;
    display: flex;
    gap: 50px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    transform: all 0.3s;
    cursor: pointer;
}

.menu-item:hover{
    color: #FF900E;
}
/* navigation area end */

/* banner area start */
.banner-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
}
.banner-text{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}

.banner-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
}

.btn-primary{
    background-color: #FF900E;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    margin-top: 30px;
    margin-bottom: 50px;
    transition: all 0.3s;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: #fff;
    color: #FF900E;
}

.banner-pic{
    width: 100%;
}
/* banner area end */

/* features area start */
main{
    max-width: 1440px;
    margin: 70px auto;
}

.features-team-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.features-img-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.features-team-description-content{
    padding:70px;
}

.features-text{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.text-design-one{
    color: #131313;
    font-weight: 700;
}

.text-design-two{
    color: #FF900E;
    font-weight: 700;
}

.features-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

/* features love area start */
.features-love-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.features-love-text{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-card{
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}

.features-love-img{
    padding-left: 130px;
}

.features-love-pic{
    width: 100%;
}

.header-love-text{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}

.header-love-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

.experience-badge{
    background-color: #FF900E;
    color: #fff;
    width: 300px;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    bottom: 100px;
    margin-left: -50px;
}

.experience-text{
    font-size: 65px;
    font-weight: 700;
    line-height: 70px;
}

.experience-description{
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
}

/* fact area start */
.fact-heading{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.fact-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

.fact-badge-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px;
    text-align: center;
}

.fact-element-badge{
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 30px;
}

.fact-number{
    color: #424242;
    font-size: 45px;
    font-weight: 600;
}

.element-description{
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}
/* sponsors area start */
.sponsors-heading{
    text-align: center;
}

.sponsors-text{
    color: #131313;
    font-size: 45px;
    font-weight: 700; 
}

.sponsors-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

.sponsors-badge{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.sponsors-badge{
    width: 100%;
}

.sponsors-logo{
    filter: saturate(0);
}

.sponsors-logo:hover{
    filter: saturate(1);
}

/* footer area start */
.footer{
    background-color: rgb(255, 144, 14, 0.10);
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 35px;
    border-radius: 8px;
    margin-bottom: 150px;
    margin-top: 150px;
}

.copy{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

/* responsive style all devices */

/* mobile devices */
@media screen and (max-width: 576px) {
    .header{
        padding: 20px;
    }

    .nav-container{
        flex-direction: column;
        margin-top: 20px;
    }

    .menu{
        flex-direction: row;
        margin-top: 30px;
        gap: 25px
    }

    .features-team-container{
        flex-direction: column;
        text-align: center;
    }

    .features-img-content{
        grid-template-columns: 1fr;
    }

    .team-pic{
        width: 100%;
    }

    .features-love-container{
        flex-direction: column;
        text-align: center;
        padding: 20px; 
    }

    .features-love-img {
        padding: 20px;
    }

    .features-love-pic{
        align-items: center;
    }

    .experience-badge{
        margin:  10px 70px;
    }

    .fact-container{
        text-align: center;
    }
    .fact-badge-content{
        flex-direction: column;
        gap:20px;
    }

    .sponsors-badge{
        flex-direction: column;
        gap: 50px;
    }

    .copy{
        letter-spacing: 0.2px;
    }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    .header{
        padding: 20px;
    }
    
    .nav-container, .features-team-container{
        flex-direction: column;
    }

    .menu{
        flex-direction: row;
        margin-top: 30px;
        gap: 25px
    }

    .features-team-container{
        flex-direction: column;
        text-align: center;
    }

    .features-img-content{
        grid-template-columns: 1fr;
    }

    .features-love-container{
        flex-direction: column;
        
    }

    .features-love-img {
        padding: 20px;
    }

    .features-love-pic{
        align-items: center;
    }

    .experience-badge{
        margin:  10px 70px;
    }

    .fact-container{
        text-align: center;
    }
    .fact-badge-content{
        flex-direction: column;
        gap:20px;
    }

    .sponsors-badge{
        flex-direction: column;
        gap: 50px;
    }
}