/* common style */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}

/* header area start */
.header{
    background-color: rgb(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* navigation area start */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text{
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

.logo-text:hover{
    color: #FF900E;
}

.menu{
    color: #424242;
    display: flex;
    gap: 50px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    transform: all 0.3s;
    cursor: pointer;
}

.menu-item:hover{
    color: #FF900E;
}
/* navigation area end */

/* banner area start */
.banner-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
}
.banner-text{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}

.banner-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
}

.btn-primary{
    background-color: #FF900E;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    margin-top: 30px;
    margin-bottom: 50px;
    transition: all 0.3s;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: #fff;
    color: #FF900E;
}

.banner-pic{
    width: 100%;
}
/* banner area end */

/* features area start */
main{
    max-width: 1440px;
    margin: 70px auto;
}
.features-team-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.features-img-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-team-description-content{
   padding:70px;
}

.features-text{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.text-design-one{
    color: #131313;
    font-weight: 700;
}

.text-design-two{
    color: #FF900E;
    font-weight: 700;
}

.features-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

/* features love area start */
.features-love-container{
    display: flex;
    justify-content: center;
    align-items: center;
}




/* responsive style all devices */

/* mobile devices */
@media screen and (max-width: 576px) {
    .header{
        padding: 20px;
    }

    .nav-container{
        flex-direction: column;
        margin-top: 20px;
    }

    .menu{
        flex-direction: row;
        margin-top: 30px;
        gap: 25px
    }

    .features-team-container{
        flex-direction: column;
    }

    .features-img-content{
        grid-template-columns: 1fr;
    }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    .header{
        padding: 20px;
    }
    
    .nav-container, .features-team-container{
        flex-direction: column;
    }

    .menu{
        flex-direction: row;
        margin-top: 30px;
        gap: 25px
    }
}